<!-- Contest Description -->
		<p class="text text-justified">
			<img src="/salons/[contest-yearmonth]/img/com/[salon-chairman-avatar]" style="margin-right: 8px; margin-bottom: 8px; float: left;" >
			I would like to personally thank every one whi has participated in the [contest-name].
		</p>
		<h3 class="text-color">A BIG Thanks</h3>
		<p class="text text-justified">
			Chairmain message
		</p>
		<p class="text text-justified">
			Chairman Message
		</p>
		<p class="text text-justified">
			Chairman Message
		</p>
		<p class="text text-justified">
			Chairmain Message
		</p>
		<p class="text text-justified">
			Chairman Message
		</p>
		<p class="text text-justified">
			Chairman Message
		</p>
		<br>
		<p class="lead">[salon-chairman]</p>
		<p class="small">[salon-chairman-honors]</p>
