<!-- Exhibition_report -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="text-danger">AWARD FUNCTION AND SALON EXHIBITION</h4>
	</div>
	<div class="panel-body">
		<h3 class="headline first-child text-color">
			<span class="border-color">Salon Exhibition</span>
		</h3>
		<p style="text-align:justify;">
			*** Info ***
		</p>
		<p style="text-align:justify;">
			*** Info ***
		</p>
		<p style="text-align:justify;">
			*** Info ***
		</p>
		<p style="text-align:justify;">
			The exhibition was attended by around *** number *** visitors.
		</p>
		<h3 class="headline first-child text-color">
			<span class="border-color">Award Function &amp; Catalog Release</span>
		</h3>
		<p style="text-align:justify;">
			*** Info ***
		</p>
		<p style="text-align:justify;">
			*** Info ***
		</p>
		<p style="text-align:justify;">
			*** Info ***
		</p>
		<p style="text-align:justify;">
			*** Info ***
		</p>

		<h3 style="text-align: center; margin-top: 20px;">YPS Thanks all the participants, Salon Committee Members,
			YPS Executive Committee Members and Volunteers !</h3>
	</div>
</div>
