<!-- exhibition_information -->
<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="text-danger">WELCOME TO THE SALON EXHIBITION</h4>
	</div>
	<div class="panel-body">
		<!-- <div class="well-sm" style="background-color: #ffffcc;">
			<p class="lead text-danger">Salon Exhibition has been postponed</p>
			<span class="text-danger">Due to announcement of additional measures to curtail the COVID pandemic by the Government of Karnataka on
				January 4, 2022, the Exhibition has been put on hold. We will update the page with revised plans soon. We regret the inconvenience
				caused by the postponement.
			</span>
		</div> -->
		<h3 class="headline first-child text-color">
			<span class="border-color">A Warm invitation to the Photography Exhibition of [contest-name]</span>
		</h3>
		<p style="text-align:justify;">
			We are happy to announce that we have made arrangements for a physical photo exhibition for [contest-name]. The visitors
			will be able to appreciate the Award Winning images in 12x18 inch prints mounted in frames.  All the Accepted
			images will also be displayed in a Full HD slideshow. The Salon Exhibition will be held at [exhibition-venue].
		</p>
		<p style="text-align:justify;">
			The [contest-name] Exhibition will start at 11:00 AM on [exhibition-start-date] and will end at 5:00 PM on [exhibition-end-date].
			We request all to visit the exhibition and also join us during the award function. The Award Function &amp; Catalog Release
			will be held on *** Date & Time of Award Function ***.
		</p>
		<table class="table table-bordered">
			<tr>
				<td width="50%">
					<div class="col-sm-12" style="padding: 4px;">
						<div class="text-center lead" style="background-color: #3498db; color: #fff; padding-top: 4px; padding-bottom: 4px;">[dignitory-role-1]</div>
						<div class="text-center">
							<img src="/salons/[contest-yearmonth]/img/[dignitory-avatar-1]" style="max-width: 120px; margin-top: 8px; margin-bottom: 8px;">
						</div>
						<div class="text-danger text-center"><big>[dignitory-name-1]</big></div>
						<div class="text-secondary text-center"><small>[dignitory-qualification-1]</small></div>
						<div class="text-secondary text-center"><i>[dignitory-position-1]</i></div>
					</div>
				</td>
				<td width="50%">
					<div class="col-sm-12" style="padding: 4px;">
						<div class="text-center lead" style="background-color: #3498db; color: #fff; padding-top: 4px; padding-bottom: 4px;">[dignitory-role-2]</div>
						<div class="text-center">
							<img src="/salons/[contest-yearmonth]/img/[dignitory-avatar-2]" style="max-width: 120px; margin-top: 8px; margin-bottom: 8px;">
						</div>
						<div class="text-danger text-center"><big>[dignitory-name-2]</big></div>
						<div class="text-secondary text-center"><small>[dignitory-qualification-2]</small></div>
						<div class="text-secondary text-center"><i>[dignitory-position-2]</i></div>
					</div>
				</td>
			</tr>
		</table>

		<div class="row">
			<div class="col-sm-7">
				<h4 class="text-color">Award Function &amp; Catalog Release - [award-function-date-time]</h4>
				<div class="list-group" style="margin-left: 15px; margin-right: 15px;">
					<a href="#" class="list-group-item">Welcome Address</a>
					<a href="#" class="list-group-item">Salon Report</a>
					<a href="#" class="list-group-item">Catalog Release</a>
					<a href="#" class="list-group-item">Presentation of Awards</a>
					<a href="#" class="list-group-item">Honoring of Sponsors</a>
					<a href="#" class="list-group-item">Address by the Dignitaries</a>
					<a href="#" class="list-group-item">Vote of Thanks</a>
				</div>
			</div>
			<div class="col-sm-5">
				<h4 class="headline text-color">
					<span class="border-color">[exhibition-venue]</span>
				</h4>
				<p class="lead">Address:</p>
				<p>[exhibition-venue-address]</p>
				<div class="embed-responsive embed-responsive-4by3"><iframe src="[exhibition-venue-location-map]" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h4 class="text-color">About [dignitory-name-1]</h4>
				<p style="text-align: justify;">
					*** Info on Dignitory 1 ***
				</p>
				<h4 class="text-color">About [dignitory-name-2]</h4>
				<p style="text-align: justify;">
					*** Info on Dignitory 2 ***
				</p>
			</div>
		</div>

		<!-- Instructions -->
		<h3 class="headline first-child text-color">
			<span class="border-color">Additional Protocols for the event</span>
		</h3>
		<p style="text-align:justify;">
			*** any protocaol like the COVID protocaol below ***
			The recent increase in number of COVID cases due to the Omicron strain, could force the Government to impose restrictions
			on public gatherings and conduct of events. The information published above is subject to change should the Government of
			Karnataka decide to impose such restrictions. These may result in restricted partcipation or even cancellation of the event
			in the last minute. We request participants to refer to this page for the latest status on the Exhibition.
			Even otherwise we are required to follow standard COVID protocols prescribed by the Government. Here are a list of protocols
			that the visitors and participants must adhere to:
		</p>
		<ul>
			<li>Persons attending should follow the Covid Appropriate Behavior prescribed by the Govt. of Karnataka. This includes
				social distancing, wearing of mask and vaccination.</li>
			<li>All visitors must pass the Thermal screening test done by YPS at the entrance.</li>
			<li>Entry to the award function is restricted to members of YPS and participants of [contest-name] and their families.</li>
			<li>During the Award Function priority will be given to recipient of awards.</li>
			<li>We may have to ask visitors to wait to limit the number of people at the venue within permitted numbers. We strongly
					advise visitors to choose lean hours for visiting the exhibition.</li>
			<li>Every visitor will also be asked to sign a Covid declaration before being admitted to the exhibition.</li>
		</ul>
	</div>
</div>
