<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="text-danger">SALON RULES</h3>
	</div>
	<div class="panel-body">
		<!-- Salon specific rules -->
		<h3 class="text-info">Specific to this Salon</h3>
		<p style="text-muted text-justify">
			The following rules are specific to this Salon. We encourage you to read the remaining terms and conditions and
			familiarize yourself before uploading pictures.
		</p>
		<ul style="line-height:1.8; text-align:justify">
			<li>The following types of pictures will be disqualified in this Salon:
				<ol style="line-height:1.8; text-align:justify">
					<li>Pictures of women/men in partial or full <b>nudity</b> that may be inappropriate for view by people
						of all ages.</li>
					<li>Pictures of bird <b>nests</b>, birds <b>feeding</b> young ones and other similar pictures that may
						endanger the lives of the subject.</li>
					<li>Pictures of animals and birds <b>in captivity</b>.</li>
				</ol>
			</li>
			<li>Pictures already <b>accepted in earlier YPS Salons</b> are not allowed to be uploaded to this Salon. This is
				in line with the Rules laid out by many of the organizations that have provided patronage to this Salon. To help
				participants recall their pictures that have been accepted in the past YPS Salons, we have added a facility to view
				their pictures accepted in YPS Salons since 2016, where they have participated using the same email ID. The final
				responsibility of adhering to this Rule is with the participant.</li>
			<li><b>Pictures that have close resemblance</b> to another picture of the
				same author that has already been accepted in a past YPS salon or has been submitted by the author under another
				section in the same salon will be disqualified. Pictures that have only minor differences to the point that one
				picture could be easily mistaken for the other fall under this category.</li>
			<li>Picture Titles are mandatory and should be less than 35 characters. </li>
		</ul>

		<!-- Salon software features -->
		<h3 class="text-info">Useful features</h3>
		<p style="text-muted text-justify">
			The Salon software has certain useful features that help you maximize your participation.
		</p>
		<ul style="line-height:1.8; text-align:justify">
			<li>At the time of upload, you can see at the bottom, the pictures that have been accepted in past YPS Salons.</li>
			<!-- <li>You can increase the number of sections in which you want to participate at any time till the last date.</li> -->
			<li>Pictures can be deleted and replaced and title can be updated any time till the last date.</li>
			<li>In case a picture selected for upload does not conform to size specifications, a resize guide is displayed
				suggesting how to resize.</li>
			<li>A back-end review team reviews each picture uploaded. In case the picture does not conform to the Salon rules
				an email notification is sent. Please replace the notified picture or reply if you are not in agreement. We
				may not be able to do this for pictures uploaded in the last minute.</p>
		</ul>

		<!-- General Terms and Conditions -->
		<h3 class="text-info"> General Terms and Conditions</h3>

		<!-- General T&C - Eligibility -->
		<h4 class="headline text-color">Eligibility</h4>
		<ul style="line-height:1.8; text-align:justify">
			<li><b>Photographers from all countries can participate</b> - Photographers of any country or origin are allowed to
				participate in this Salon.</li>
			<li><b>Jury members and Members of the Salon Committee shall not participate.</b></li>
			<li><b>Only one registration per person is permitted</b> - Each person can participate under only one identity.
				Creating multiple log-ins under different emails of the same person is prohibited and will cause all entries
				to be disqualified.</li>
			<li><b>Persons in Sanctioned Lists will not be allowed to participate</b> - Persons found to be in the sanctioned
				list / red list / barred list of PSA, FIAP, FIP and any of the bodies providing patronage to this salon will
				not be allowed to participate. A notification is shown when the user registers. If you think that you have been
				wrongly matched, please get in touch with us for review.</li>
		</ul>

		<!-- General T&C - Registration and Uploading -->
		<h4 class="headline text-color">Rules for Registration &amp; Uploading</h4>
		<ul style="line-height:1.8; text-align:justify">
			<li><b>Register with complete and correct details</b> - At the time of registering please make sure that the details
				entered are complete and correct. YPS will not be responsible for inconveniences caused on account of incorrect
				details entered while registering.</li>
			<li><b>Fees</b> - This Salon is free for participation for everyone around the world.</li>
			<!-- <li><b>Fees must be paid upfront</b> - Participants will be able to upload pictures only after payment of required fees. Fees once paid is not refundable unless
				the Salon Committee decides to refund on a case to case basis. </li> -->
			<li><b>Entries must be submitted only through the Salon web-site</b> - Only pictures submitted through this website
				will be considered for the contest. Pictures received through emails or other means will not be considered for
				the salon. </li>
			<li><b>Upload under correct sections</b> - It is the responsibility of the participants to upload the photographs
				under the correct section. Photographs not matching the section under which they are uploaded will be disqualified
				during judging. Please verify the sections after uploading to make sure that you have uploaded under correct
				sections. You can remove an uploaded picture and re-upload again under the correct section any time till the
				last date for submission. If there is a doubt about whether a picture will qualify under a section, please
				refer to the definition of the sections available on this web-site. Here are some general conditions related
				to sections:
				<ul>
					<li>Photographs not matching the section under which they are uploaded will be disqualified during judging.</li>
					<li>Monochrome images cannot be entered under the COLOR Open Section.</li>
					<li>Full color or partially colored images cannot be entered under MONOCHROME Open Section.</li>
					<li>Grayscale images are permitted under the restricted sections of NATURE and TRAVEL. But toned images are
						not allowed under these sections.</li>
				</ul>
			</li>
			<li><b>All images must include an image title</b> – Entries without a title are not accepted. If proper titles are
				not provided on or before the day/s of the judging, those images shall not be presented to the jury or will be
				rejected during judging. In such cases with invalid titles, the same will not be validated for PSA Star rating
				or included in the Who’s Who publication. </li>
			<li><b>Submit correct titles for images</b> — While we do monitor and screen entries for invalid titles, it is the
				responsibility of the entrant to mention accurate titles during the time of uploading his/her entries. YPS will
				not create titles of images entered by the entrant/s.</li>
			<li><b>Picture Title cannot exceed 35 characters.</b></li>
			<li><b>NUDES NOT Allowed in this Salon</b> - Pictures of women/men in partial or full nudity that may be inappropriate
				for view by children will not be entertained.</li>
			<li><b>Pictures endangering nature are not allowed</b> - Pictures of bird nests, birds feeding young ones and similar
				other pictures that may endanger the lives of the subject are not allowed for submission.</li>
			<li><b>Pictures Accepted in earlier YPS Salons are not allowed</b> - Pictures that have already been accepted in
				the past YPS Salons are not eligible to be submitted again in this Salon. The rule applies irrespective of
				the title under which it was submitted or the category or section under which it was submitted. Participants are
				required to conform to this while uploading.</li>
			<li><b>Same picture cannot be submitted under multiple sections</b> - A picture can be submitted only under one section
				in the salon. A picture cannot be submitted under multiple sections either in its original size and color or in
				cropped format or in color converted format.</li>
			<li><b>Pictures that have close resemblance</b> - Pictures that have close resemblance to another picture of the
				same author that has already been accepted in a past YPS salon or has been submitted by the author under another
				section in the same salon will be disqualified. Pictures that have only minor differences to the point that one
				picture could be easily mistaken for the other fall under this category.</li>
			<li><b>Restrictions on Borders</b> — Decorative/Wide borders are not allowed in the restricted sections of NATURE
				and TRAVEL. Only a solid narrow border not exceeding 5 pixels is permitted under these sections.</li>
			<li><b>Submission limits per section</b> — The web-site enforces a maximum limit of 4 pictures per section. The
				participant can remove a picture and upload a different one any time till the last date for submission.</li>
			<li><b>Drone Images must conform to PSA Drone Policy</b> — There is a PSA policy on the use of aerial photography -
				aircraft, helicopters and drones. The PSA policy on aerial photography using aircraft, helicopters and drones
				can be found at https://psa-photo.org/index.php?psa-policies. For example, drone images of people are allowed
				only if the author has written permission from those people. Drone photographs of animals and birds are not
				allowed. Drone photographs in National Parks and wild areas is not permitted.</li>
		</ul>

		<!-- General T & C - General Terms and Conditions from PSA -->
		<h4 class="headline text-color">General Terms and Conditions prescribed by PSA</h4>
		<ul>
			<li><b>Image and Entry Requirements</b> - This exhibition is open to anyone; however, an entry may be rejected
				when the Sponsor or the Exhibition Organizers, in their reasonable discretion, believes the entry does not
				conform to exhibition rules and these Conditions of Entry. Membership in any photographic organization is
				not required to participate.</li>
			<li><b>Sanctions</b> - Entries will not be accepted from any entrant who is currently sanctioned by PSA.</li>
			<li><b>PSA Star Ratings</b> - To receive proper Star ratings credit from PSA, entrants must provide their names
				and country exactly the same in each exhibition. Aliases are not permitted. Please contact PSA in the event
				of name changes or relocating to another country.</li>
			<li><b>Image Creation</b> - Entries must originate as photographs (image-captures of objects via light sensitivity)
				made by the entrant on photographic emulsion or acquired digitally. </li>
			<li><b>Certification of Ownership</b> - By virtue of submitting an image, the entrant certifies the work as his
				or her own (Images may not incorporate elements produced by anyone else (for example: clip art, images or art
				by others downloaded from the Internet). Aliases are not allowed. The entrant permits the sponsors to reproduce
				all or part of the entered material free of charge for publication and/or display in media related to the
				exhibition. This may include low resolution posting on a website.  Note: Entrants who indicate that their
				images may not be reproduced or used &quot;will not be eligible for awards&quot; or inclusion in audio-visuals
				of the exhibition “and could be subject to disqualification” by the exhibition sponsors. The exhibition assumes
				no liability of any misuse of copyright.</li>
			<li><b>Alteration and Computer Generation</b> - Subject to Divisional restrictions (particularly Nature, Photo Travel,
				and Photojournalism) images may be altered, either electronically or otherwise, by the maker. Adjustments to
				enhance images or creatively modify images are allowed providing the underlying photograph is retained in a
				way that is obvious to the viewer.  Images may not be constructed entirely with a computer and must be the
				sole work of the author. All parts of the image have to be photographed by the author who is holding the
				copyright of all works submitted.</li>
			<li><b>Re-use of Accepted Images</b> - Once an image has been accepted in a PSA Recognized exhibition, any identical
				image, or near identical image, may not, in future, be entered or re-entered in any section of the same
				Division Star Ratings class in that exhibition regardless of media, format, or title; may not be re-titled
				for entry into any other PSA Recognized exhibition, including translation into another language.</li>
			<li><b>Entry</b> - An Entry consists of, up to and including, four (4) images entered by a single Entrant into
				the same Section. An entrant may only enter a specific Section once. </li>
			<li><b>Titles</b> - Each image must have a unique title. That unique title must be used for entry of that image
				or of an Identical Image into any and all PSA-Recognized exhibitions. Titles must be 35 characters or fewer.
				No titles may be visible to the judges, and nothing in the image may identify the maker. Titles must not
				include file extensions such as .jpg or .jpeg (or any other camera capture filenames), or words such as
				&quot;untitled&quot; or &quot;no title&quot;. Titles may not consist solely of numbers.</li>
			<li><b>Color and Monochrome of the same image</b> - Color and Monochrome images from the same capture that
				share substantial pictorial content in common will be considered the same image and must be given the
				same title. (Please note that this Salon does not allow an image of the same origin to be submitted
				under multiple sections). However, PSA members working on Galaxy and Diamond Star Ratings are allowed
				to continue using different titles of monochrome versions and color versions of the same capture that
				have already been accepted until the required number of acceptances for those titles has been completed.</li>
			<li><b>PSA Statement on Subject Matter</b> - There is one hard and fast rule, whose spirit must be observed
				at all times and applies to all sections offered in PSA recognised exhibitions.</li>
			<li><b>The welfare of the subject is more important than the photograph.</b> - This means that practices such
				as baiting of subjects with a living creature and removal of birds from nests, for the purpose of
				obtaining a photograph, are highly unethical, and such photographs are not allowed in any PSA exhibitions.
				The purpose of this policy is to prevent any interference with other individuals or animals which will or
				may cause a disturbance in their normal activity or disrupt the way any individuals or animals interact
				with their environment. Entry in this exhibition requires exhibitors to agree to this and other PSA
				policies.</li>
			<li><b>Compliance with Conditions</b> - The content of images must comply with these General Conditions and
				with the Division and Section definitions listed in these conditions. Images that - in the sole opinion
				of the judges or the Exhibition Organizers - do not comply are likely to be disqualified so the entrant
				may be aware of the problem when considering entry into other PSA recognized exhibitions.</li>
		</ul>

		<!-- General T & C - General Terms and Conditions from PSA -->
		<h4 class="headline text-color">PSA Statement on Subject Matter</h4>
		<p>There is one hard and fast rule, whose spirit must be observed at all times and applies to all sections
			offered in PSA recognised exhibitions.</p>
		<p><b>The welfare of the subject is more important than the photograph.</b></p>


		<!-- General T & C - Submission of Digital Images -->
		<h4 class="headline text-color">Rules for submission of Digital Images</h4>
		<ul style="line-height:1.8; text-align:justify">
			<li><b>Format and Color Gamut</b> - All images submitted must be in JPEG format and the Color Gamut must be set
				to sRGB. The projection equipment/laptops used during judging are calibrated to display colors correctly if
				the picture is in sRGB Gamut. Please make sure that the colour profile of your pictures is sRGB.</li>
			<li><b>Maximum image dimensions permitted</b> - This Salon uses online judging. Pictures should not exceed 1920
				pixels on the width and should not exceed 1080 pixels on the height. The dimensions are checked at the time
				of uploading and pictures exceeding any of the dimensions will not be allowed to be uploaded. Pictures with
				resolutions equal to or less than these dimensions will be allowed to be uploaded. Please note that the YPS
				Salon software will not resize your pictures and pictures will be presented to the jury in the resolution
				in which they were uploaded.</li>
			<li><b>Maximum image size permitted</b> — The maximum size of each image submitted to the salon must not exceed 4MB.</li>
			<li><b>Orientation</b> - Pictures will be displayed in the same orientation in which it was uploaded. Hence please
				correct the orientation and resize before uploading.</li>
			<li><b>No identification marks on the picture</b> - The picture should not contain any added text/image/watermark
				that shows the title, name, logo or other forms of information attributable to the submitter.</li>
			<li><b>Submit Complete and Correct particulars about picture</b> - Please make sure that the Title and other
				details required while uploading a picture, are entered properly. The system allows you to edit the Title
				any time till the last date for submission.</li>
			<li><b>Post-processing and subject fitment</b> - Please refer to descriptions of individual sections for
				understanding subject matter fitment and restrictions on post-processing.</li>
			<li><b>DPI does not matter</b> - It does not matter what the DPI setting of your picture is. Any value should be fine.</li>
			<li><b>Validate Exhibition-readiness</b> - Award winning pictures will be on display at the Salon Exhibition. If
				you want your picture to be displayed at the exhibition, you should be able to upload pictures with more than
				3000 pixels on the long-side when requested. Pictures less than this resolution will not be printed.</li>
			<li><b>Title Length less than 35</b> - Picture Title cannot exceed 35 characters (PSA).</li>
		</ul>

		<!-- General T & C - Judging -->
		<h4 class="headline text-color">Judging</h4>
		<ul>
			<li><b>Applicability of PSA and FIAP Rules and Standards</b> - The Exhibition will be conducted in accordance
				with the rules of the PSA and FIAP. Where there are differences between the PSA and FIAP rules, the stricter
				of the rule shall be applicable.</li>
			<li><b>Pictures in Random Order</b> – Pictures of the photographers will not be presented consecutively.
				They will be presented in a random order.</li>
			<li><b>Open Online Judging</b> – Judging for this Salon will be conducted online with jury scoring the images
				on their own computer systems. YPS will make sure that the judges have the right equipment for judging as
				per PSA/FIAP rules. If the timezones permit, YPS maymake arrangements for webcast of latest scores
				of fully scored images. The awards will be finalized through web-meeting among the jury or through
				other means agreed with jury. Final results will be announced on the website and if timezones permit
				through a webinar.</li>
			<li><b>Jury Panel has the final say</b> - The decision of the Panel of Judges is final and binding with respect
				to selection of pictures for awards. No further appeal questioning the correctness of decisions will be
				entertained.</li>
		</ul>

		<!-- General T & C - Pub,ising Results -->
		<h4 class="headline text-color">Publishing Results</h4>
		<ul style="line-height:1.8; text-align:justify">
			<li><b>Web-site will display results</b> - This Salon website will be the primary channel for release of
				results followed by emails to all the winners.</li>
			<li><b>Digital Catalog</b> - Youth Photographic Society will issue a Digital Exhibition Catalog to all
				entrants. The same can be downloaded from the salon web-site. If a printed catalog is offered, it will
				be at a cost. Cost of the catalog and method of ordering will be communicated to the participants
				through emails.</li>
		</ul>

		<!-- Legal Requirements and Disclaimers -->
		<h4 class="headline text-color">Legal Requirements &amp; Disclaimers</h4>
		<ul style="line-height:1.8; text-align:justify">
			<li><b>Data Protection</b> - By entering this exhibition, you are explicitly consenting to the personal
				details you have supplied, including email addresses, being held, processed and used by the exhibition
				organizers for purposes associated with this exhibition. You also explicitly consent to such information
				being sent to organizations that have accorded official recognition, patronage or accreditation to this
				exhibition. You acknowledge and accept that entering this exhibition means that the status and results
				of your entry may be made public.</li>
			<li><b>Originality &amp; Ownership</b> - By submitting an entry, the entrant certifies the work as his/her
				own (aliases and proxies are not permitted). In the case of composite images created from multiple
				photographs, all photographic components used in the composite-image must have been photographed by
				the entrant and the entrant must hold copyright for all the components included in the picture.</li>
			<li><b>Right to use</b> - The entrant permits Youth Photographic Society to reproduce all or part of any
				of the photographs entered for the contest, free of charge for publication and/or display in media
				related to any activities of Youth Photographic Society.</li>
			<li><b>Misuse</b> - YPS assumes no responsibility related to any misuse of pictures by public in violation
				of the copyright held by the author.</li>
		</ul>

		<h4 class="headline text-color">Agreement to Terms &amp; Conditions</h4>
		<p style="line-height:1.8; text-align:justify">By entering this exhibition, you are explicitly consenting
			to the personal details you have supplied, including email addresses, being held, processed and used by
			the exhibition organizers for purposes associated with this exhibition. You also explicitly consent to s
			uch information being sent to organizations that have accorded official recognition, patronage or accreditation
			to this exhibition. You acknowledge and accept that entering this exhibition means that the status and results
			of your entry may be made public. </p>
		<p style="line-height:1.8; text-align:justify">When an entrant fills in the Entry Form to submit an entry the
			entrant will see a feature to affirm, he or she has read these Conditions of Entry when he or she fills
			out the entry form.  If the entrant does not so affirm the entry will not be submitted.</p>
		<p style="line-height:1.8; text-align:justify">All entries shall conform to the stricter of these definitions
			for acceptances to be validated by all the International Organizations granting recognition or patronage.</p>


		<h3 class="text-info">Non-Compliance to Salon Terms and Conditions / Breach of Rules</h3>
		<p style="line-height:1.8; text-align:justify">The following paragraphs describe the outcomes of not following
			the terms and conditions of the Salon as specified by the Patronage houses. YPS will be obliged to comply
			with any measures proposed by the Patronage houses.</p>

		<h4 class="headline text-color">FIAP</h4>
		<p style="line-height:1.8; text-align:justify">By the sole act of submitting his/her images or files to a salon
			under FIAP Patronage, the entrant accepts without exception and with no objection the following terms: </p>
		<ul>
			<li>that the submitted images can be investigated by FIAP to establish if these obey to FIAP regulations
				and definitions even if the entrant is not a member of FIAP, </li>
			<li>that FIAP will use any means at its disposal for this undertaking, </li>
			<li>that any refusal to cooperate with FIAP or any refusal to submit the original files as captured by
				the camera, or failure to provide sufficient evidence, will be sanctioned by FIAP, </li>
			<li>that in case of sanctions following the non-compliance with FIAP regulations, the name of the
				entrant will be released in any form useful to inform the breaches of the rules. It is recommended
				to leave the EXIF data in the submitted files intact in order to ease eventual investigations. If,
				at any time, it is determined in the reasonable discretion of the exhibition organizer or the judges
				before, during, or after the judging of an exhibition that an entrant has submitted entries where one
				or more images may fail to comply with these Conditions of Entry, including the stated definitions,
				the exhibition organizers reserve the right to delete the entry from the exhibition and void any or
				all acceptances or awards in connection with the exhibition. Fees may be forfeited or refunded in
				these circumstances. The entrant acknowledges that the decision of the exhibition organizers or the
				judges is final.</li>
		</ul>
		<h4 class="headline text-color">FIAP Notice</h4>
		<p style="line-height:1.8; text-align:justify">In order to have legal authority on those who do not respect the rules of FIAP, this salon requires participants to
			confirm by ticking a box next to which the following text : </p>
		<blockquote class="blockquote">
			<p style="line-height:1.8; text-align:justify">&quot;I hereby expressly agree to FIAP document 018/2017
				Conditions and regulations for FIAP Patronage and FIAP document 017/2017 Sanctions for breaching FIAP
				regulations and the red list. I am particularly aware of chapter II Regulations for International
				photographic events under FIAP patronage of FIAP document 018/2017, dealing under Section II.2 and
				II.3 with the FIAP participation rules, the sanctions for breaching FIAP regulations and
				the red list.&quot;</p>
		</blockquote>

		<h4 class="headline text-color">PSA Terms</h4>
		<p style="line-height:1.8; text-align:justify">In order to ensure that images comply with the Conditions of
			Entry and definitions, the exhibition organizers may carry out reasonable measures to verify that:</p>
		<ol type="a">
			<li>the images are the original work of the entrant and</li>
			<li>the images comply with the rules and definitions as set out in these Conditions of Entry</li>
		</ol>
		<p style="line-height:1.8; text-align:justify">These steps include, but are not limited to, questioning any
			entrant, requiring the submission of RAW files or other digital files representing the original capture
			of the submitted image(s), confronting the entrant with evidence that one or more submitted images fails
			to comply with the Conditions of Entry (also known as Entry Rules), and offering the entrant a reasonable
			opportunity to provide counter evidence to refute the exhibitionorganizer&apos;s evidence by a set deadline.
			Such entries that are not cleared or are still questionable after the entrant has presented evidence may
			be considered in breach of these Conditions of Entry, and declined. Such entries may be referred to PSA
			for further investigation of possible ethics violations.</p>
		<p style="line-height:1.8; text-align:justify">PSA retains the right to investigate in any way all
			complaints/suspicions of breaches of entry conditions, impose sanctions if deemed necessary, void the
			acceptances of any image found to violate the PSA rules, include the entrant&apos;s name on the list of
			sanctions provided to Exhibitions, and share such investigations with FIAP. Entrants automatically agree
			to these terms by the act of entering the Exhibition and agree to cooperate with any investigation.</p>
		<p style="line-height:1.8; text-align:justify">If another party is submitting images on the entrant’s behalf,
			the entrant will still be held responsible for adhering to these Conditions of Entry (Entry Rules)<b> and
			will be subject to sanction for any violations</b> to these Conditions of Entry and PSA’s Statement of Ethics
			that may result.</p>
		<h4 class="headline text-color">PSA Notice</h4>
		<p style="line-height:1.8; text-align:justify">When an entrant fills in the Entry Form to submit an entry the
			entrant will see a feature to affirm he or she has read these Conditions of Entry when he or she fills out
			the entry form. If the entrant does not so affirm the entry will not be submitted.</p>

		<h3 class="text-info">PSA Statement on &quot;Subject Matter&quot; &amp; Policies</h3>
		<p style="line-height:1.8; text-align:justify">There is one hard and fast rule, whose spirit must be observed at all times and applies to all sections offered in PSA
			recognised exhibitions. </p>
		<blockquote class="blockquote">
			<p style="line-height:1.8; text-align:justify"><b>&quot;The welfare of the subject is more important than the photograph.&quot;</b></p>
		</blockquote>
		<p style="line-height:1.8; text-align:justify">This means that practices such as baiting of subjects with a living creature and removal of birds from nests, for the
			purpose of obtaining a photograph, are highly unethical, and such photographs are not allowed in any PSA exhibitions.</p>
		<p style="line-height:1.8; text-align:justify">There is also a PSA policy on the use of aerial photography - aircraft, helicopters and drones.  This policy can be
			found at <a href="https://psa-photo.org/index.php?psa-policies#drone" target="_blank">https://psa-photo.org/index.php?psa-policies#drone</a>.</p>
		<p style="line-height:1.8; text-align:justify">The purpose of this policy is to prevent any interference with other individuals or animals which will or may cause
			a disturbance in their normal activity or disrupt the way any individuals or animals interact with their environment. Entry in this exhibition requires exhibitors
			to agree to this and other PSA policies.</p>
		<p style="line-height:1.8; text-align:justify">The content of images must comply with these General Conditions and with the Division and Section definitions listed
			in these conditions. Images that - in the sole opinion of the judges or the Exhibition Organizers - do not comply are likely to be disqualified so the entrant
			may be aware of the problem when considering entry into other PSA recognized exhibitions.</p>


	</div>
</div>
